@import "_reset.less";
@import "_mixins.less";
@import "_grid.less";
// @import "_onepage.less";



// *********************** VARIABLES *********

@darkgrey: 	#282828;
@black : 	#0d0d0d;
@lightpink: #ff7a9c;
@pink: 		#FC5781;
@whitepink: #e8d1d7;

// *********************** FONTS *************

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700");

@open: 'Open Sans', 'sans-serif';


// *********************** GENERAL ***********

*{
	.box-sizing(border-box);
	-webkit-font-smoothing: antialiased;
}

body{
	width: 100%;
	font: 400 ~"14px/18px" @open;
}


// *********************** LAYOUT ************

.wrapper{
	width: @total-width;
	margin: 0px auto;
	.clearfix;
}


header{
	background: @darkgrey;
	padding: 40px 0px;
	div.wrapper{
		h1{
			color: @lightpink;
			font-weight: 300;
			font-size: 36px;
			line-height: 50px;
			span.kindersurprise{
				display: inline-block;
				height: 50px;
				width: 35px;
				background: @pink;
				.border-radius(~"50%/60%" 60% 40% 40%);
				vertical-align: text-top;
				margin-right: 20px;

			}
		}
		h2, h3{
			color: @whitepink;
			display: inline-block;
			font-weight: 300;
		}
		h2{
			font-size: 26px;
			margin-right: 12px;
		}
		h3{
			.border-radius(50%);
			border: solid 1px @whitepink;
			text-align: center;
			.square(60px);
			padding: 11px 0px;
			span{
				display: inline-block;
				font-weight: 500;
				&.year{
					vertical-align: top;
					font-weight: 400;
				}
			}
		}
	}

}

.notification{
	background: @black;
	text-align: center;
	padding: 40px 0px;
	border-bottom: solid 2px @lightpink;
	h1{
		color: fadeout(@whitepink, 10%);
		font-size: 36px;
		line-height: 40px;
		font-weight: 300;
		margin-bottom: 20px;
	}
	.details{
		color: fadeout(#FFF, 20%);
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		margin-bottom: 20px;
	}
	.buttons{
		padding: 30px 0px;
		a.link{
			line-height: 75px;
			color: @whitepink;
		}
		.polygon{
			margin-right: 30px;
		}
	}
}

.notification.participation-2{
	text-align: center;
	form{
		.column(6);
		.push(3);
		.pull(3);
		margin-bottom: 20px;
	}
	label, input[type="text"]{
		width: 100%;
	}
	input[type="text"]{
		font-size: 14px;
		background: transparent;
		border: solid 1px fadeout(@whitepink, 20%);
		color: @whitepink;
		padding: 10px;
		margin: 10px 0px;
		&:focus{
			outline: none;
			border-color: @pink;
		}
	}
	input[type="submit"]{
		display: inline-block;
	}
}

.notification.invitation{
	p{
		.column(6);
		color: @whitepink;
	}
	.buttons{
		.column(6);
		padding: 0px;
	}
}


// *********************** SPECIFIC STYLES ***

.button{
	min-width: 120px;
	background: @lightpink;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 0px 25px;
	border: none;
	cursor: pointer;
	.nolinkstyle;
	color: #FFF;
	.transition(all 0.2s ease);
	&.polygon{
		height: 70px;
		line-height: 75px;
		.clip-path(polygon(40% 10%, 100% 38%, 75% 100%, 19% 90%, 0 38%));
	}
	&:hover{
		.clip-path(polygon(40% 0%, 100% 38%, 75% 92%, 19% 97%, 0 38%));
		background: @pink;
		color: #FFF;
	}
}
