@(
  hackers: Seq[Hacker],
  projects: Seq[Project],
  teammates: Map[reactivemongo.bson.BSONObjectID, Hacker]
)(implicit me: Hacker)

@main("Listing") {

  <ul>
    @for(hacker <- hackers) {
      @defining(projects.find(_.team.contains(hacker.oid))) { maybeProject =>
        <li>
          @for(pictureURL <- hacker.profile.picture) {
            <img src="@pictureURL" alt="Picture of @hacker.name"
                 style="width:50px;height:50px;border-radius:5px" />
          }
          @hacker.name
          @maybeProject match {
            case Some(project) => {
              @if(project.leaderId == hacker.oid) {
                (<b>@project.name</b>)
              } else {
                (@project.name)
              }
            }
            case None => {}
          }
        </li>
      }
    }
  </ul>

  <ul>
    @for(project <- projects) {
      <li>
        @project.name
        <ul>
        @for(hacker <- project.team.flatMap(teammates.get(_))) {
          @if(hacker.oid == project.leaderId) {
            <li><b>@hacker.name</b></li>
          } else {
            <li>@hacker.name</li>
          }
        }
        </ul>
      </li>
    }
  </ul>

}
