@main("Listing") {

<div class="notification">
	<div class="wrapper participation-1">
		<h1>Veux-tu participer au prochain Hackday ?</h1>
		<p class="details">Une petite réponse avant mercredi 23 avril et on serait ravi !</p>
		<div class="buttons">
			<a href="" class="button polygon">oh que oui !</a>
			<a href="" class="link">non</a>
		</div>
	</div>
</div>

<div class="notification">
	<div class="wrapper participation-2">
		<h1>Très heureux de te compter parmi nous :-)</h1>
		<form>
			<label class="details">Qu'est-ce que tu voudrais faire ?</label>
			<input type="text" placeholder="arduino, fun, café ..."/>
			<input type="submit" class="button polygon" value="GO"/>
		</form>
	</div>
</div>

<div class="notification">
	<div class="wrapper invitation">
		<p>MACHIN t'as invité à rejoindre son équipe pour le projet TRUC</p>
		<div class="buttons">
			<a href="" class="button polygon">J'accepte</a>
			<a href="" class="link">Je décline cette invitation</a>
		</div>
	</div>
</div>



<div class="new-project-1">
	<a href="">Crée ton projet</a>
</div>

<div class="new-project-2">
	<h1>Crée ton projet</h1>
	<form>
		<input type="text" placeholder="nom du projet"/>
		<input type="text" placeholder="description"/>
		<input type="text" placeholder="il faut venir dans mon équipe parce que ..."/>

		<input type="submit" value="GO !">
	</form>
</div>

<div class="projects">

	<div class="project mine">
		<div class="wrapper">
			<h1>Titre du projet</h1>
			<h2>Motivation phrase lorem ipsum dolor sit amet</h2>
			<p class="description">Description du projet en 140 caractères lorem ipsum dolro sit amet lorem ipsum dolor sit amet</p>
			<ul class="team">
				<li>
					<img src="https://lh5.googleusercontent.com/-_O8gK7OLHtw/UbCI_RvnxpI/AAAAAAAAABc/VUsCzc6Z-8c/s512-no/040d3167f7422c59a76e380178233e8e.jpeg"/>
				</li>
				<li>
					<img src="https://lh4.googleusercontent.com/-KDbb2ZFfGJc/U0JtqjMFqAI/AAAAAAAAAgA/e4kDiVYRUCM/w918-h920-no/4352048618240954346-MIX.jpg"/>
				</li>
				<li class="zentrepreneur">
					<img src="https://lh5.googleusercontent.com/-_O8gK7OLHtw/UbCI_RvnxpI/AAAAAAAAABc/VUsCzc6Z-8c/s512-no/040d3167f7422c59a76e380178233e8e.jpeg"/>
				</li>
				<li>
					<img src="https://lh4.googleusercontent.com/-KDbb2ZFfGJc/U0JtqjMFqAI/AAAAAAAAAgA/e4kDiVYRUCM/w918-h920-no/4352048618240954346-MIX.jpg"/>
				</li>
			</ul>
		</div>
	</div>


	<div class="project">
		<h1>Titre du projet</h1>
		<h2>Motivation phrase</h2>
		<p>Description du projet en 140 caractères</p>
		<a href="" class="button polygon">JE VEUX EN ÊTRE !!</a>
		<ul class="team">
			<li>
				<img src="https://lh5.googleusercontent.com/-_O8gK7OLHtw/UbCI_RvnxpI/AAAAAAAAABc/VUsCzc6Z-8c/s512-no/040d3167f7422c59a76e380178233e8e.jpeg"/>
			</li>
			<li>
				<img src="https://lh4.googleusercontent.com/-KDbb2ZFfGJc/U0JtqjMFqAI/AAAAAAAAAgA/e4kDiVYRUCM/w918-h920-no/4352048618240954346-MIX.jpg"/>
			</li>
			<li class="zentrepreneur">
				<img src="https://lh5.googleusercontent.com/-_O8gK7OLHtw/UbCI_RvnxpI/AAAAAAAAABc/VUsCzc6Z-8c/s512-no/040d3167f7422c59a76e380178233e8e.jpeg"/>
			</li>
			<li>
				<img src="https://lh4.googleusercontent.com/-KDbb2ZFfGJc/U0JtqjMFqAI/AAAAAAAAAgA/e4kDiVYRUCM/w918-h920-no/4352048618240954346-MIX.jpg"/>
			</li>
		</ul>
	</div>

	<div class="hackers">
		<div class="wrapper">
			<ul>
				<li>
					<a href="">
						<img src="https://lh4.googleusercontent.com/-KDbb2ZFfGJc/U0JtqjMFqAI/AAAAAAAAAgA/e4kDiVYRUCM/w918-h920-no/4352048618240954346-MIX.jpg"/>
						<span> inviter </span>
					</a>

				</li>
				<li>
					<a href="">
						<img src="https://lh4.googleusercontent.com/-KDbb2ZFfGJc/U0JtqjMFqAI/AAAAAAAAAgA/e4kDiVYRUCM/w918-h920-no/4352048618240954346-MIX.jpg"/>
						<span> inviter </span>
					</a>
				</li>
				<li>
					<a href="">
						<img src="https://lh4.googleusercontent.com/-KDbb2ZFfGJc/U0JtqjMFqAI/AAAAAAAAAgA/e4kDiVYRUCM/w918-h920-no/4352048618240954346-MIX.jpg"/>
						<span> inviter </span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

}
