<div class="notification participation-1">
  <p>Veux-tu participer au prochain Hackday ?</p>
  <a href="">OUI</a>
  <a href="">non</a>
</div>

<div class="notification participation-2">
	<p>Très heureux de te compter parmi nous :-)</p>
	<form>
		<label>Qu'est-ce que tu voudrais faire ?</label>
		<input type="text" placeholder="arduino, fun, café ..."/>
		<input type="submit" value="GO"/>
	</form>
</div>

<div class="notification invitation">
	<p>MACHIN t'as invité à rejoindre son équipe pour le projet TRUC</p>
	<a href="">J'accepte</a>
	<a href="">Je décline cette invitation</a>
</div>



<div class="new-project-1">
	<a href="">Crée ton projet</a>
</div>

<div class="new-project-2">
	<h1>Crée ton projet</h1>
	<form>
		<input type="text" placeholder="nom du projet"/>
		<input type="text" placeholder="description"/>
		<input type="text" placeholder="il faut venir dans mon équipe parce que ..."/>

		<input type="submit" value="GO !">
	</form>
</div>

<div class="projects">
	<div class="project">
		<h1>Titre du projet</h1>
		<h2>Motivation phrase</h2>
		<p>Description du projet en 140 caractères</p>

		<ul class="team">
			<li>
				<img src=""/>
				<p>Prénom nom</p>
			</li>
			<li>
				<img src=""/>
				<p>Prénom nom</p>
			</li>
			<li class="zentrepreneur">
				<img src=""/>
				<p>Prénom nom</p>
			</li>
			<li>
				<img src=""/>
				<p>Prénom nom</p>
			</li>
		</ul>

		<a href="">JE VEUX EN ÊTRE !!</a>
	</div>
</div>